.main-container{
  background-image: url('../../../public/background.png');
  /* -webkit-animation: ytp-party-background-color .1s linear infinite;cd  */
  /* animation: ytp-party-background-color .1s linear infinite; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: baseline; */
}

.common-div-content {
  /* box-shadow: 0px 0px 10px #aec6fee0; */
  justify-content: center;
  padding: auto;
  /* padding-top: 80px;
  padding-bottom: 70px; */
  margin-top: 200px;
  margin-bottom: 50px;
  width: 100%;
  height: 1vh;
  float: left;
  width: 100%;
}
.heading {
  /* margin-top: 10px; */
  /* position: relative; */
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 50px;
  padding-top: 150px;
  padding-bottom: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 300;
  letter-spacing: 0.2em;
}
.white_line_heading {
  width: 80vw;
  height: 3px;
  background-color: #fff;
}
element.style {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.ripples {
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  /* position: absolute; */
  top: 0%;
  right: 0%;
  bottom: 0%;
  opacity: 0.7;
  background: none center top / cover;
  left: 0;
  top: 0;
  /* width: 10000px; */
  /* height: 300px; */
  /* background: url("../../../public/background.png"); */
  background-size: cover;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  height: 100%;
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  margin: 0 auto;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.outer {
  display: block;
  position: relative;
  width: 300px;
  height: 300px;
}
.ripple {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 100%;
  animation: ripple 2s cubic-bezier(0, 0.1, 0.7, 1) infinite;
}

.ripple:hover {  border: 4px solid orange;}

.four {
  animation-delay: -1.5s;
}
.three {
  animation-delay: -1s;
}

.two {
  animation-delay: -0.5s;
}

@keyframes ripple {
  0% {
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -2px;
    left: -2px;
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}


.hero_title__HaAVy{
  text-align: center;
  font-size: 8rem;
  line-height: 1;
  font-weight: 800;
  letter-spacing: -.06em;
  margin: 0 0 var(--geist-space-16x);
}

.animated_gradient_text_background__OCnk0{
  position: relative;
    display: block;
    -webkit-user-select: none;
    /* -moz-user-select: none; */
    /* -ms-user-select: none; */
    user-select: none;
}
.style1 {
  /* --content: 'Develop.'; */
  --padding: 0.05em;
  --start-color: #007CF0;
  --end-color: #00DFD8;
}