.main-container{
  /* background-image: url('../../../public/background.png'); */
  display: flex;
}

.common-div-content {
  /* box-shadow: 0px 0px 10px #aec6fee0; */
  justify-content: center;
  padding: auto;
  /* padding-top: 80px;
  padding-bottom: 70px; */
  margin-top: 200px;
  margin-bottom: 50px;
  width: 100%;
  height: 1vh;
  float: left;
  width: 100%;
}
.heading {
  /* margin-top: 10px; */
  position: relative;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 50px;
  padding-top: 150px;
  padding-bottom: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 300;
  letter-spacing: 0.2em;
}
.white_line_heading {
  width: 80vw;
  height: 3px;
  background-color: #fff;
}
element.style {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
.ripples {
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  opacity: 0.7;
  background: none center top / cover;
  left: 0;
  top: 0;
  /* width: 10000px; */
  /* height: 300px; */
  /* background: url("../../../public/background.png"); */
  background-size: cover;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
